<div class="img-fluid">
    <img src="assets/img/anuncio.png" alt="" class="img-fluid heigth d-block">
</div>
<div class="container d-flex">
    <div class="row m-3 text-justify">
        <h3 class="text-center">Quienes somos</h3>
        <p class="">
            El club deportivo de Tiro con Arco Azores nace como un grupo de amigos de la ciudad de Cochabamba que se reunían a practicar este deporte en Tiquipaya los fines de semana, en la casa de campo de uno de ellos. El 6 de octubre del año 2012 se funda el club,
            gracias al deseo de estas personas de trasformar su pasatiempo en un deporte. A partir de ese momento, el club fue creciendo en número de miembros y cada vez se fueron adquiriendo nuevas experiencias y conocimientos, hasta conseguir tener
            equipos de arquería propios del club y poder dar clases a nuevos interesados. Un punto muy importante en la historia del club, fue la visita de Ariel Rodríguez, entrenador cubano de Tiro con Arco, que enseño a los arqueros la técnica de Tiro
            con Arco Olímpico, línea sobre la cual está avanzando el club, con vista a competencias departamentales, nacionales e internacionales. Ya contando con instructores certificados por la World Archery y por el Comité Olímpico Boliviano, el club
            está preparando arqueros para futuras competencias de arquería, tomándolo como un deporte serio, pero sin perder la esencia del club, que todos trabajan juntos por él y forman una gran familia, a la que orgullosamente se hace llamar Azores.
        </p>
        <img src="assets/img/quien.png" alt="" class="col-md-8 rounded mx-auto shadow-lg p-0 mb-5">

    </div>

    <div class="row m-3 text-justify">
        <img src="assets/img/historia.png" alt="" class="col-md-8 rounded mx-auto shadow-lg p-0 mb-5">
        <h3 class="text-center">Historia</h3>
        <p class="">
            El club deportivo de Tiro con Arco Azores nace como un grupo de amigos de la ciudad de Cochabamba que se reunían a practicar este deporte en Tiquipaya los fines de semana, en la casa de campo de uno de ellos. El 6 de octubre del año 2012 se funda el club,
            gracias al deseo de estas personas de trasformar su pasatiempo en un deporte. A partir de ese momento, el club fue creciendo en número de miembros y cada vez se fueron adquiriendo nuevas experiencias y conocimientos, hasta conseguir tener
            equipos de arquería propios del club y poder dar clases a nuevos interesados. Un punto muy importante en la historia del club, fue la visita de Ariel Rodríguez, entrenador cubano de Tiro con Arco, que enseño a los arqueros la técnica de Tiro
            con Arco Olímpico, línea sobre la cual está avanzando el club, con vista a competencias departamentales, nacionales e internacionales. Ya contando con instructores certificados por la World Archery y por el Comité Olímpico Boliviano, el club
            está preparando arqueros para futuras competencias de arquería, tomándolo como un deporte serio, pero sin perder la esencia del club, que todos trabajan juntos por él y forman una gran familia, a la que orgullosamente se hace llamar Azores.
        </p>

    </div>

</div>