<footer class="text-center text-lg-start" style="background: #665E5D;">
    <div class="d-flex justify-content-around text-center ">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-4 my-5 ">
            <img src="assets/img/azor.png" alt="" width="78" height="82">
            <p style="font-size: 22px;">Club Deportivo de Tiro con Arco</p>
            <p> &copy; {{ anio }} Club Azores</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-5">
            <a class="nav-link text-light p-1" routerLink="/">Inicio</a>
            <a class="nav-link text-light p-1" routerLink="news">Noticias</a>
            <a class="nav-link text-light p-1" routerLink="member">Miembros</a>
            <a class="nav-link text-light p-1" routerLink="photo">Fotos</a>
            <a class="nav-link text-light p-1" routerLink="video">Videos</a>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mt-5">
            <h3 class="text-white mb-3" style="font-size: 20px;">Siguenos en:</h3>
            <a href="https://www.facebook.com/clubazores/" target="_blanck" class=" px-3">
                <i class="fab fa-facebook fa-2x" style="color: #3b5998;"></i>
            </a>
            <a href="https://www.instagram.com/clubazores/" target="_blanck" class=" px-3">
                <i class="fab fa-instagram fa-2x" style="color:#8134AF;"></i>
            </a>
            <a href="https://www.tiktok.com/@azores_tiroconarco" target="_blanck" class=" px-3">
                <i class="fab fa-tiktok fa-2x" style="color: #69C9D0;"></i>
            </a>
        </div>
    </div>
</footer>